body {
	height: auto;
  	background-color: GhostWhite;
	/* Remove browser margins */
	margin: auto 0;
}

li {
	padding: 0.5em;
}

a {
	color: white;
	text-decoration: none;
}

.main-nav {
	background-color: #2a682a;
	display: flex;
	list-style: none;
	font-size: 1.5em;
	margin: 0;
	padding: 0;
}

.home_index {
	width: 100%;
	height: 100vh;
}
	
.backround_index {
	background: url("../images/backround.jpg");
	background-size: cover;
  	background-position: center center;
  	padding: 2px;	
	left: 0;
	width: 100%;
	height: 100%;
}


#register {
	margin-left: auto;
	margin-right: 0.3em;
}