body {
	/* Remove browser margins */
	margin: auto 0;
}

.main-nav {
	background-color: green;
	display: flex;
	list-style: none;
	font-size: 1em;
	margin: 0;
	padding: 0;
}

li {
	padding: 0.5em;
}

a {
	color: white;
	text-decoration: none;
}

#register {
	margin-left: auto;
	margin-right: 0.3em;
}