.grid-container {
    display: grid;
    overflow: auto;
    height: auto;
    width: auto;
}

.grid {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    overflow: auto;
}

@media all and (orientation:landscape) {
    .grid {
        max-height: 40vw;
    }
}

@media all and (orientation:portrait) {
    .grid {
        max-height: 80vw;
    }
}

.grid-col {
    width: 150px;
    min-width: 150px;
}

.grid-item {
    height: 100px;
    min-height: 100px;
}

.grid-item--header {
    min-height: 100px;
    position: sticky;
    top: 0;
}

.grid-col--fixed-left {
    position: sticky;
    left: 0;
    z-index: 9997;
}

.grid-corner {
    z-index: 9998;
}