html {
    height: 100%;
    width: 100%;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
}

#homeContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

@media all and (orientation:landscape) {
    .header {
        height: 50px;
    }
}

@media all and (orientation:portrait) {
    .header {
        height: 150px;
    }
    h1 {
        color: blue;
        font-size: 40px;
    }
    #homeContainer {
        justify-content: center;
    }
}

h2 {
    color: white;
    text-align: center;
}

.homeTitle {
    font-size: 24px;
    font-weight: bold;
    color: rgb(199, 39, 39);
}

#push {
    float: right;
    font-size: 20px;
    color: rgb(77, 77, 231)
}

#leaguePosts {
    background: linear-gradient(135deg, rgb(255, 145, 0), rgba(255, 251, 0, 0.904));
}

.defBubble {
    width: 300px;
    margin: 0px;
}