body {
	
	background: url("../images/background.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	padding: 2px;
	left: 0;
	height: 100%;
	width: 100%;
}


h2 {
	color: white;
	text-align: center;
}
