.grid-col {
    min-width: 150px;
    width: 40%;
}

.grid-item {
    border: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.grid-item--header {
    background-color: silver;
}

.grid-col--fixed-left {
    background-color: silver;
    width: 20%;
    color: white;
}

.grid-item>img {
    width: auto;
    max-width: 150px;
    height: 100%;
    color: red;
    font-size: 1.5em;
    content: "Hello";
}

.result {
    background-color: whitesmoke;
}

p {
    font-size: 1.5em;
    color: seagreen;
    font-family: "Arial";
    width: 100%;
    text-align: center;
}

.toolTip {
    font-size: 14px;
    color: red;
    font-weight: bold;
}

#matchInfo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
}

#date {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
}

#refereeName {
    color: rgb(21, 92, 245);
    font-style: italic;
}

.submitContainer {
    display: flex;
    justify-content: center;
}