li {
    padding: 0.5em;
    display: flex;
    align-items: center;
}

body {
    margin-top: 100px;
}

.main-nav li a {
    color: white;
    text-decoration: none;
}

.main-nav {
    background-color: #00004d;
    display: flex;
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    margin-bottom: 40px;
    z-index: 9999;
}

@media all and (orientation:portrait) {
    .main-nav {
        font-size: 2.2em;
    }
}

@media all and (orientation:landscape) {
    .main-nav {
        font-size: 1.5em;
    }
}

.push {
    margin-left: auto;
    margin-right: 0.3em;
}

a.underline {
    text-decoration: underline;
}