@media all and (orientation:landscape) {
    .bg-image {
        background: url("../images/background.jpg");
    }
}

@media all and (orientation:portrait) {
    .bg-image {
        background: url("../images/portraitbg.jpg");
    }
}

body {
    height: 100%;
}

.bg-image {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
    top: 0;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

.content {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 9995;
    margin-left: 20px;
    margin-right: 20px;
}

#title {
    text-align: center;
    color: rgb(36, 112, 40);
    font-size: 50px;
    font-family: 'Lilita One', cursive;
    font-style: italic;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

img {
    width: 100px;
    border-radius: 50%;
}

.profileBubble {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: auto;
    border-radius: 80px;
    padding: 50px;
    margin: 40px;
}

#account {
    background: linear-gradient(135deg, rgb(255, 145, 0), rgba(255, 251, 0, 0.904));
}

#team {
    background: linear-gradient(135deg, rgb(44, 189, 0), rgba(194, 3, 3, 0.904));
}

#referee {
    background: linear-gradient(135deg, rgb(24, 35, 185), rgba(64, 200, 224, 0.904));
}

#posts {
    background: linear-gradient(135deg, rgb(255, 145, 0), rgba(255, 251, 0, 0.904));
}

.bubbleInfo {
    font-weight: lighter;
    letter-spacing: 1.25;
    color: rgb(35, 20, 168);
    font-style: italic;
}

h2 {
    margin: 50px;
    font-style: italic;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.listItem {
    width: 100%;
    text-align: center;
}

.link {
    font-weight: bold;
    font-size: 20px;
    text-decoration: underline;
    color: black;
}

.listParag {
    color: rgba(255, 255, 255, 0.75);
    font-size: 20px;
    font-weight: bold;
}

.defButton {
    align-self: flex-end;
}

.total {
    align-self: flex-start;
    font-weight: lighter;
    font-style: italic;
}

.count {
    color: rgb(255, 30, 0);
    font-weight: bold;
    font-size: 24px;
}